@model StrategyGame.Models.Gamer

@{
    ViewBag.Title = "Detalhes";
}

<h2>Seus dados</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.Label("Nome:", htmlAttributes: new { @class = "control-label col-md-2" })
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nome_GMR)
        </dd>

        <dt>
            @Html.Label("Sobrenome:", htmlAttributes: new { @class = "control-label col-md-2" })
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Sobrenome_GMR)
        </dd>

        <dt>
            @Html.Label("Apelido:", htmlAttributes: new { @class = "control-label col-md-2" })
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Apelido_GMR)
        </dd>

        <dt>
            @Html.Label("Data Cadastro:", htmlAttributes: new { @class = "control-label col-md-2" })
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DataCadastro_GMR)
        </dd>

        <dt>
            @Html.Label("Data Nascimento:", htmlAttributes: new { @class = "control-label col-md-2" })
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DataNascimento_GMR)
        </dd>

        <dt>
            @Html.Label("Ativo:", htmlAttributes: new { @class = "control-label col-md-2" })
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Ativo_GMR)
        </dd>

        <dt>
            @Html.Label("Email:", htmlAttributes: new { @class = "control-label col-md-2" })
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Email_GMR)
        </dd>

        <dt>
            @Html.Label("Nacionalidade:", htmlAttributes: new { @class = "control-label col-md-2" })
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nacionalidade)
        </dd>

        <dt>
            @Html.Label("Sexo:", htmlAttributes: new { @class = "control-label col-md-2" })
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Sexo_GMR)
        </dd>

        <dt>
            @Html.Label("Youtube:", htmlAttributes: new { @class = "control-label col-md-2" })
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Youtube_GMR)
        </dd>

        <dt>
            @Html.Label("Twitter:", htmlAttributes: new { @class = "control-label col-md-2" })
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Twitter_GMR)
        </dd>

        <dt>
            @Html.Label("Twitch:", htmlAttributes: new { @class = "control-label col-md-2" })
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Twitch_GMR)
        </dd>

        <dt>
            @Html.Label("Facebook:", htmlAttributes: new { @class = "control-label col-md-2" })
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Facebook_GMR)
        </dd>

        <dt>
            @Html.Label("Telefone:", htmlAttributes: new { @class = "control-label col-md-2" })
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Fone_GMR)
        </dd>

        @*<dt>
            @Html.DisplayNameFor(model => model.Imagem_GMR)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Imagem_GMR)
        </dd>*@

        @*<dt>
            @Html.DisplayNameFor(model => model.Senha_GMR)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Senha_GMR)
        </dd>*@

        @*<dt>
            @Html.DisplayNameFor(model => model.Positividade)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Positividade)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Negatividade)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Negatividade)
        </dd>*@

        <dt>
            @Html.Label("Juiz:", htmlAttributes: new { @class = "control-label col-md-2" })
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Juiz_GMR)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Editar", "Edit", new { id = Model.ID }) 
    @*@Html.ActionLink("Voltar a lista", "Index")*@
</p>
