@model IEnumerable<StrategyGame.Models.Gamer>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Novo", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.Label("Nome:", htmlAttributes: new { @class = "control-label col-md-2" })
        </th>
        <th>
            @Html.Label("Sobrenome:", htmlAttributes: new { @class = "control-label col-md-2" })
        </th>
        <th>
            @Html.Label("Apelido:", htmlAttributes: new { @class = "control-label col-md-2" })
        </th>
        <th>
            @Html.Label("Data Cadastro:", htmlAttributes: new { @class = "control-label col-md-2" })
        </th>
        <th>
            @Html.Label("Data Nascimento:", htmlAttributes: new { @class = "control-label col-md-2" })
        </th>
        <th>
            @Html.Label("Ativo:", htmlAttributes: new { @class = "control-label col-md-2" })
        </th>
        <th>
            @Html.Label("E-mail:", htmlAttributes: new { @class = "control-label col-md-2" })
        </th>
        
        <th>
            @Html.Label("Youtube:", htmlAttributes: new { @class = "control-label col-md-2" })
        </th>
        <th>
            @Html.Label("Twitter:", htmlAttributes: new { @class = "control-label col-md-2" })
        </th>
        <th>
            @Html.Label("Twitch:", htmlAttributes: new { @class = "control-label col-md-2" })
        </th>
        <th>
            @Html.Label("Facebook:", htmlAttributes: new { @class = "control-label col-md-2" })
        </th>
        <th>
            @Html.Label("Telefone:", htmlAttributes: new { @class = "control-label col-md-2" })
        </th>
       
        <th>
            @Html.Label("Juiz:", htmlAttributes: new { @class = "control-label col-md-2" })
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Nome_GMR)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Sobrenome_GMR)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Apelido_GMR)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DataCadastro_GMR)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DataNascimento_GMR)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Ativo_GMR)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Email_GMR)
        </td>
       
        <td>
            @Html.DisplayFor(modelItem => item.Youtube_GMR)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Twitter_GMR)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Twitch_GMR)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Facebook_GMR)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Fone_GMR)
        </td>
       
        <td>
            @Html.DisplayFor(modelItem => item.Juiz_GMR)
        </td>
        <td>
            @Html.ActionLink("Alteração", "Edit", new { id=item.ID }) |
            @Html.ActionLink("Detalhes", "Details", new { id=item.ID }) |
            @Html.ActionLink("Excluir", "Delete", new { id=item.ID })
        </td>
    </tr>
}

</table>
